.madeFor {
  margin-top: 30px;

  .recentlyPlayedCardContainer {
    margin-top: 30px;
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    .recentlyPlayedCard {
      height: 200px;
      border-radius: 10px;
      width: 140px;
      padding: 20px;
      background-color: rgba(140, 140, 132, 0.318);
    }
  }
}
