.sideBarContainer {
  width: 24vw;
  background-color: black;
  gap: 7px;
  display: flex;
  flex-direction: column;

  padding: 0 6px;
  .libraryPlaylistContainer {
    background-color: #121212;
    padding: 20px 15px;
    height: 100%;

    .sideBarLibrary {
      border-radius: 10px;
      .navigationItemContainer {
        display: flex;
        justify-content: space-between;
        .library {
          display: flex;
          gap: 20px;
          .navigationIcon {
            display: flex;
            align-items: center;
            cursor: pointer;
          }
          .navigationName {
            color: rgb(150, 146, 146);
            display: flex;
            align-items: center;
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -1.14px;
            cursor: pointer;
          }
        }
        .addForward {
          display: flex;
          color: rgb(156, 164, 164);
          gap: 10px;
          .addforwar {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
          }
          .addforwar:hover {
            background-color: rgb(43, 42, 42);
            color: white;
          }
        }
      }
    }
  }
}
