.card {
  height: 60px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  gap: 10px;
  .image {
    height: 40px;
    width: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
  }
  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    margin: auto 0;
  }
  .artistName {
    color: white;
    font-size: 14px;
  }
  .about {
    color: #a7a7a7;
    font-size: 12px;
  }
}
.card:hover {
  background-color: rgba(177, 177, 177, 0.06);
}
