@import "./../../index.scss";

.landingPageContainer {
  background-color: black;
  height: 100vh;
  .player {
    height: 100px;
    background-color: black;
    z-index: 1;
  }
}

.sideBarAndMain {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  height: 80vh;

  .main {
    width: 80vw;
    background-color: #121212;
    padding: 20px;
    overflow-y: scroll;
  }
}
