html,
body,
.App {
  text-align: center;
  background-color: white;
  height: 100%;
  font-family: "DM Sans", sans-serif;
}

.landingPageContainer {
  background-color: black;
  height: 100vh;
  .player {
    height: 60px;
    position: absolute;
    background-color: black;
    z-index: 1;
    bottom: 0px;
    padding: 10px;
  }
}

.sideBarAndMain {
  display: flex;
  justify-content: space-between;
  height: 90vh;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
